@import '@style/var.scss';
.roadmap-container{
  height: 1965px;
  background: #060514;
  .container-main{
    .title{
      .biaoti{
        width: $roadmap-title-width;
        height: $height-76;
        margin-top: 250px;
      }
    }
    .desc{
      margin-top: 80px;
      &::before{
        position: absolute;
        left: 13px;
        display: block;
        width: 6px;
        height: 1214px;
        margin-top: 85px;
        content: '';
        background: url('../../../../assets/roadmap/roadmap_xian.png');
      }
      .desc-item{
        display: flex;
        align-items: center;
        .item-key{
          position: relative;
          img{
            width: 43px;
            height: 44.27px;
          }
        }
        .main{
          width: 1087px;
          border: 0.5px solid rgba(151,151,151,0.8);
          margin: 20px 0 20px 70px;
          padding: 22px 60px;
          // 文字
          font-family: DINCondensed-Bold;
          font-size: $fontsize-22;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: justify;
          line-height: 36px;
          font-weight: 700;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}
