@import '@style/var.scss';
.about-container{
  margin-top: -120px;
  .container-main{
    .title{
      .biaoti{
        width: $about-title-width;
        height: $height-84;
        margin-top: 303px;
      }
    }
    .desc{
      margin-top: 40px;
      width: 716px;
      font-family: DINCondensed-Bold;
      font-size: $fontsize-25;
      color: #FFFFFF;
      letter-spacing: 0;
      word-wrap: break-word;
      word-spacing: 5px;
      // text-align: justify;
      line-height: 40px;
      font-weight: 700;
    }
  }
}
