.about-container{
  margin-top: -120px;
  .container-main{
    .title{
      .biaoti{
        width: 268px;
        height: 84px;
        margin-top: 303px;
      }
    }
    .desc{
      margin-top: 40px;
      width: 716px;
      font-family: DINCondensed-Bold;
      font-size: 25px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: justify;
      line-height: 40px;
      font-weight: 700;
      letter-spacing: 0;
    }
  }
}
