@import '@style/var.scss';
.faqs-container{
  background: #060514;
  .container-main{
    .title{
      .biaoti{
        width: $faqs-title-width;
        height: $height-84;
        margin-top: 200px;
      }
    }
    .desc{
      margin-top: 86px;
      .item{
        margin-bottom: 40px;
        .title-area{
          width: 1200px;
          height: 96px;
          border: 0.5px solid rgba(151,151,151,0.8);
          display: flex;
          align-items: center;
          .item-key{
            width: 126px;
            text-align: center;
            font-size: $fontsize-42;
            color: #FFFFFF;
            height: 96px;
            line-height: 106px;
          }
          .item-title{
            flex: 1;
            font-size: $fontsize-25;
            letter-spacing: 0;
            color: #FFFFFF;
            text-align: justify;
            line-height: 40px;
            font-weight: 700;
          }
          .item-icon{
            width: 100px;
            img{
              width: 36x;
              height: 36px;
            }
          }
        }
        .item-desc{
          margin-left: 126px;
          opacity: 0.7;
          font-size: $fontsize-25;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: center;
          line-height: 40px;
          font-weight: 700;
          margin-top: 30px;
        }
      }
    }
  }
}
