@import '@style/var.scss';
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.40);
  
  .modal-area{
    width: 650px;
    height: 440px;
    position: relative;
    left: calc(50vw - 325px);
    top: calc(50vh - 220px);
    background: #FFFFFF;
    border-radius: 10px;
    .close-icon{
      position: absolute;
      right: 22px;
      top: 22px;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    .modal-title{
      font-size: $fontsize-42;
      color: #121213;
      letter-spacing: 0;
      font-weight: 700;
      text-align: center;
      padding: 60px 0 43px;
    }
    .modal-main{
      width: 384px;
      height: 210px;
      margin: 0 auto;
      background: #FFFFFF;
      border: 1px solid rgba(236,236,236,1);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .username{
        font-size: $fontsize-30;
        color: #121213;
        letter-spacing: 0;
        font-weight: 700;
      }
      .desc{
        font-size: $fontsize-25;
        color: #ACACBF;
        letter-spacing: 0;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}