.App{
  /* 阴影 */
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  /* 水平居中 */
  text-align: center;
  /* 垂直居中 */
  vertical-align: middle;
  /* 宽度 */
  width: 100%;
  /* 高斯模糊 */
  filter: blur(1px);
  /* 淡入淡出 */
  animation: fadein 0.5s;
}
/* 动画 */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
